@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primaryColor: white;
    --secondaryColor: black;
    --navColor: rgb(9, 43, 77);
}

body{
    font-family: 'Averia Serif Libre', cursive;
}

.container {
    display: grid;
    grid-template-columns: 12rem auto auto;
    grid-template-areas: "nav nav nav"
        "side-bar main-content main-content"
        "footer footer footer";
}



.nav {
    grid-area: nav;
    background-color: var(--navColor);
    position: fixed;
    width: 100%;
    padding: 1rem;
    font-size: larger;
    color: var(--primaryColor);
    display: flex;
    justify-content: space-between;
}

.inline-element {
    display: inline;
}

.side-bar {
    grid-area: side-bar;
    width: 15rem;
    color: white;
    background-color: rgb(238, 179, 15);
    display: grid;
    grid-column: auto;
    height: 100%;
    position: fixed;
    overflow: scroll;
    z-index: 1;
    top: 75px;
    left: 0;
}

.side-bar>a {
    text-decoration: none;
    color: white;
    font-size: large;

}

.side-bar>a:hover {
    color: blue;
}

.main-content {
    grid-area: main-content;
    margin-top: 3.5rem;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: green;
}

